:where(.game_discover, .game_discover *){
    padding: initial;
    margin: initial;
}
body{
    --game_assets_desc_color:#797979;
    --game_promo_desc_color:#646464;
}
.Middle_section_text.assets_section{
    --def_line_width:4.7em;
    --hover_line_width:7.3em;
}

.game_discover{
    min-height: 25em;
    background-color: white;
    margin: 0 var(--margin_sides) 0;
    border-radius: var(--project_border_radius);

    overflow: hidden;
    
    position: relative;

    --back_width: 55%;


    display: grid;
    align-items: center;
    grid-template-columns: 0.8fr 1fr;

    font-size: 1rem;
    font-size: 0.8rem;
    font-size: clamp(0.8rem, 0.583rem + 0.464vw, 1rem);
}
.game_discover .image_cover{
    position: absolute;
    height: 100%;
    width: var(--back_width);
    top: 0;
    left: 0;
    object-fit: cover;
    display: block;

    overflow: hidden;

    transition: opacity var(--base_anim_speed);
    
}
.game_discover .grad{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--back_width);
    background-image: linear-gradient(90deg, transparent 40%, white);
}

.game_discover .title_div{
    grid-column: 2;

    z-index: 1;
    position: relative;
    
    display: flex;
    flex-flow: column;
    align-items: start;
    gap: 0.5em;
    padding: 1.5em;   
}
.game_discover .title_div .desc{
    font-family: LT_light;
    font-size: 1.3em;
    color: var(--game_promo_desc_color);

}
.game_discover .title_div .title{
    font-size: 2.2em;
    color: var(--desc_title_color);
}
.game_discover .normal_button{
    margin-top: 0.7em;
    min-width: 9em;
    font-size: 1.1em;
    font-family: LT_light;
}

@media screen and (max-width:750px) {
    .game_discover{
        grid-template-columns: 100%;
        display: block;
        height: 31rem;
        
        align-items: stretch;

        font-size: 0.9rem;
        font-size: 0.73rem;

        font-size: clamp(0.73rem, 0.617rem + 0.604vw, 0.9rem);
    }
    .game_discover .title_div .title{
        font-size: 2em;
        /* padding: 0 1em; */
        font-family: LT_light;
    }
    .game_discover .title_div{
        grid-row: 2;
        grid-column: 1;
        height: 100%;
        align-items: center;
        justify-content: end;
        text-align: center;
        /* background-color: red; */
        padding-bottom: 2em;
    }
    .game_discover .image_cover, .game_discover .grad{
        width: 100%;
        height: 75%;
    }
    .game_discover .grad{
        background-image: linear-gradient(transparent 30%, white);
    }
}

/* :where(.assets_grid, .assets_grid *){
    padding: initial;
    margin: initial;
} */

.assets_grid{    
    margin: var(--margin_sides);
    margin-top: 2em;
    --normal_link_margin_top:0.8em;
}

.asset_item{
    background-color: white;
    border-radius: var(--project_border_radius);
    
    display: grid;
    grid-template-rows: 20em auto;
    
    gap: 1.5em;
    padding: 1.2em;
}

.asset_item .img_div{
    width: 100%;
    height: 100%;
    border-radius: inherit;

    /* min-height: 15em; */
    display: grid;
}
.asset_item .img_div img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: inherit;
}

.asset_item .desc_div{
    display: flex;
    align-items: center;
    text-align: center;
    font-family: LT_light;
    flex-flow: column;
    gap: 0.3em;
    margin: 0 0 1em 0;
}
.asset_item .desc_div .title{
    color: var(--desc_title_color);
    font-size: 1.8em;
}
.asset_item .date{
    color: var(--project_date_color);
    font-size: var(--project_def_date_size);
}
.asset_item .desc{
    font-size: var(--project_def_desc_size);
    color: var(--game_assets_desc_color);
    margin: 0.4em 0;
}
.asset_item .links{
    gap: 2em;
}
/* .asset_item .links_wrapper{
    width: 100%;
} */

.asset_item .main_img{
    background-image: attr(data-back);
}

.overlap{
    grid-row-start: 1;
    grid-column-start: 1;
}
.blur_img{
    filter: blur(1.5em);
}
.top_img{
    z-index: 1;
}


:where(.load_button_parent, .load_button_parent *){
    margin: initial;
    padding: initial;
    font-style: italic;
}
.load_button_parent{
    margin: 1.2em var(--margin_sides);
    font-size: 1rem;
    font-size: 0.78rem;
    font-size: clamp(0.78rem, 0.722rem + 0.309vw, 1rem);
    
    font-family: LT_light;
    display: flex;
    align-items: end;
    justify-content: end;
    gap:1.25em;
}
.load_button_parent .normal_link.hidden{
    display: none;
}