
/* used var colors from featured styles */

body{
    --desc_title_color:#464646ff;
    --desc_color_a:#5b5b5bff;
    --desc_color_a_hover:#d76a6a;

    --margin_sides:1.5rem;
    --margin_sides:0.88rem;
    --margin_sides:clamp(0.88rem, 0.717rem + 0.87vw, 1.5rem);
}
.blog_section{
    --def_line_width:3em;
    --hover_line_width:6em;
}


/* news grid styling */

:where(.Grid_3_max, .Grid_3_max *){
    padding: initial;
    margin: initial;
}

.Grid_3_max{
    display: grid;

    margin: 0 var(--margin_sides);

    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;

    font-size: 1rem;
    font-size: 0.85rem;
    font-size: clamp(0.85rem, 0.509rem + 0.545vw, 1rem);

}
.News_grid{
    --normal_link_margin_top:1.5em;
}

.News_grid .news_section_item{
    background-color: white;
    min-height: 10em;

    border-radius: 1.3em;
    overflow: hidden;
    position: relative;

    display: grid;
    grid-template-rows: auto 1fr;
    align-content: center;
}
.news_section_item .main_img, .news_section_item .back_blur_img{
    /* background-color: #c0ff7c; */
    width: 100%;
    height: 20em;
    object-fit: cover;
    position: relative;
}
.news_section_item .main_img{
    z-index: 1;
}
.news_section_item .back_blur_img{
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(2em);
}
.News_grid .desc_div{
    margin: 1.5em 1.5em 2em;
    text-align: center;
    font-family: LT_light;

    /* height: 80%; */
    display: flex;
    flex-flow: column;
    
}
.News_grid .desc_div .title{
    color: var(--desc_title_color);
    font-size: 1.7em;
}
.News_grid .desc_div .date{
    font-size: 1.1em;
    margin-top: 0.3em;
    color: var(--project_date_color);
}
.News_grid .desc_div .desc{
    font-size: 1.13em;
    margin-top: 0.7em;
    color: var(--project_subtitle_color);
}


/* links stuff */
.links_wrapper{
    margin-top: auto;
}
.links{
    margin-top: var(--normal_link_margin_top);
    /* background-color: red; */
    /* padding-top: 1em; */
    /* margin-top: auto; */

    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-around;
}

.normal_link{

    cursor: pointer;
    text-decoration: underline dashed;
    text-underline-offset: 0.15em;
    transition: color var(--base_anim_speed);
    color: var(--desc_color_a);
    font-family: inherit;
    border: none;
    background-color: transparent;

    font-size: 1.2em;
}
.normal_link:hover{
    color: var(--desc_color_a_hover);
}


/* links end */

/* temp things */
.news_section_item:nth-child(3) .main_img, .news_section_item:nth-child(3) .back_blur_img{
    background-color: gray;
}


@media screen and (max-width:1000px) {
    .Grid_3_max{
        grid-template-columns: 1fr 1fr;
        font-size: 0.95rem;
        font-size: 0.87rem;
        font-size: clamp(0.87rem, 0.683rem + 0.427vw, 0.95rem);
    }
}
@media screen and (max-width:700px) {
    .Grid_3_max{
        grid-template-columns: 1fr;
        font-size: 0.98rem;
        font-size: 0.8rem;

        font-size: clamp(0.8rem, 0.665rem + 0.72vw, 0.98rem);

        
        /* margin: 0 1.2em; */
    }
}