.Middle_section_text.vector_section{
    --def_line_width:4.5em;
    --hover_line_width:6.8em;
}

:where(.vector_grid, .vector_grid *){
    margin: initial;
    padding: initial;
}

.vector_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 1em;
    margin: 0 var(--margin_sides);
    
    --normal_link_margin_top:1.5em;

    font-size: 1rem;
    font-size: 0.85rem;
    font-size: clamp(0.85rem, 0.509rem + 0.545vw, 1rem);
}
.vector_grid .vector_grid_item{
    min-height: 10em;
    background-color: white;
    border-radius: 1.3em;
    padding: 1.2em;
    
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1em;
}
.vector_grid_item .img_desc{
    min-height: 5em;

    display: grid;
    grid-template-columns: 0.7fr 1fr;
    gap: 1em;
    align-items: center;
    font-family: LT_light;
}
.vector_grid_item .main_img, .vector_grid .back_blur_img{
    height: 100%;
    width: 100%;
    height: 11em;
    border-radius: 1.3em;
    
    
    grid-row-start: 1;
    grid-column-start: 1;
}
.vector_grid_item .main_img{
    z-index: 1;
    background-color: white;
    object-fit: contain;
    border: 1px solid #36363643;
}
.vector_grid_item .back_blur_img{
    filter: blur(1.5em);
    object-fit: cover;
}

.vector_grid_item .date{
    color: var(--project_date_color);
    margin-bottom: 0.3em;
    font-size: 1.1em;
}
.vector_grid_item .title{
    font-size: 1.8em;
    color: var(--desc_title_color);
}

.vector_grid_item .desc_div{
    /* background-color: red; */
    text-align: center;
    font-family: LT_light;
    margin: 0.8em 0 0.8em;
    display: flex;
    flex-flow: column;
    /* background-color: red; */
}
.vector_grid .desc{
    font-size: 1.16em;
    margin: 0 1em;
    color: var(--project_subtitle_color);
}

@media screen and (max-width:1000px) {
    .vector_grid{
        /* grid-template-columns: 100%; */

        font-size: 0.95rem;
        font-size: 0.85rem;
        font-size: clamp(0.85rem, 0.664rem + 0.457vw, 0.95rem);

    }
    .vector_grid_item .img_desc{
        grid-template-columns: 1fr;
        gap: 1.1em;
        text-align: center;
    }
    .vector_grid_item .img_desc .main_img, .vector_grid_item .img_desc .back_blur_img{
        height: 15em;
    }
}
@media screen and (max-width:650px) {
    .vector_grid{
        grid-auto-rows: auto;
        grid-template-columns: 100%;
        font-size: 0.9rem;
        font-size: 0.79rem;
        font-size: clamp(0.79rem, 0.696rem + 0.503vw, 0.9rem);
    }
    .vector_grid_item .img_desc .main_img, .vector_grid_item .img_desc .back_blur_img{
        height: 20em;
    }
}