body{
    --project_def_date_size: 1.1em;
    --project_def_desc_size: 1.16em;
    --project_def_desc_color: #797979;
}
.Middle_section_text.vector_section{
    --def_line_width:4.5em;
    --hover_line_width:6.8em;
}

:where(.vector_designs_parent, .vector_designs_parent *){
    margin: initial;
    padding: initial;
}
.vector_designs_parent{
    position: relative;

    font-size: 1rem;
    font-size: 0.8rem;
    font-size: clamp(0.8rem, 0.747rem + 0.281vw, 1rem);
}
.vector_grid{
    display: flex;
    overflow-x: auto;
    gap: 1em;
    margin: 0;
    padding: 0 var(--margin_sides);
}

.vector_grid_item{
    flex-shrink: 0;
    border-radius: 1.3em;

    width: 30%;
    min-height: 10em;
    background-color: white;
    overflow: hidden;
    
    display: grid;
    grid-template-rows: 23em auto;
    position: relative;

    --normal_link_margin_top:1em;
}

.vector_grid_item .main_img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}

.vector_grid_item .grad, .vector_grid_item .gradient{
    position: absolute;
    z-index: -1;
    height: 105%;
}
.vector_grid_item .gradient{
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(transparent, #2727276e);
    
}
.vector_grid_item .grad{
    bottom: 0;
    left: 50%;
    width: 120%;
    transform: translateX(-50%);

    overflow: hidden;
    filter: blur(2em);
}
.vector_grid_item .grad img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.vector_grid_item .desc_div{
    z-index: 1;
    padding: 1em 1.5em 2em 1.5em;
    color: #f2f2f2;
    text-align: center;

    font-family: LT_light;
    position: relative;

    display: flex;
    flex-flow: column;
    gap:0.4em;
}
.vector_grid_item .title{
    font-size: 1.6em;

}
.vector_grid .desc{
    margin-top: 0.1em;
    font-size: 1.15em;
    color: #e4e4e4;

}
.vector_grid .desc, .vector_grid .date, .vector_grid .title, .vector_grid .normal_link{
    filter: drop-shadow(0 0 0.35em #323232);
}
.vector_grid .date{
    font-size: 1.05em;
    color: #efefef;
}

.vector_grid .normal_link{
    display: block;
    color: white;
    font-size: 1.2em;
}
.vector_grid .normal_link:hover{
    color: #dfdfdf;
}

@media screen and (max-width:1000px) {
    .vector_grid_item{
        width: 27em;
    }
}
@media screen and (max-width:550px) {
    .vector_grid_item{
        width: 100%;
    }
}